<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HELLO WORLD!!!</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-accordion-group>
    <ion-accordion value="colors" toggle-icon="arrow-down-circle">
      <ion-item slot="header">
        <ion-label>Colors</ion-label>
      </ion-item>
  
      <ion-list slot="content">
        <ion-item>
          <ion-label>Red</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Green</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Blue</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="shapes" toggle-icon="arrow-down-circle">
      <ion-item slot="header">
        <ion-label>Shapes</ion-label>
      </ion-item>
  
      <ion-list slot="content">
        <ion-item>
          <ion-label>Circle</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Triangle</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Square</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="numbers" toggle-icon="arrow-down-circle">
      <ion-item slot="header">
        <ion-label>Numbers</ion-label>
      </ion-item>
  
      <ion-list slot="content">
        <ion-item>
          <ion-label>1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>3</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-modal
  [isOpen]="true"
  [breakpoints]="[0.1, 0.5, 1]"
  [initialBreakpoint]="[0.1]"
  >
  <ng-template>
    <ion-content>Modal Content</ion-content>
  </ng-template>
</ion-modal> -->

  <app-explore-container name="HELLO WORLD!!!"></app-explore-container>
</ion-content>
